# ClientFlow Frontend Environment Variables
VITE_API_URL=/api/v1
# Obtain this from Google Cloud Console -> APIs & Services -> Credentials -> OAuth 2.0 Client ID (Web Application)
# Authorized JavaScript origin: http://localhost:5173
VITE_GOOGLE_CLIENT_ID="your_google_client_id.apps.googleusercontent.com"

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBcvRapHyPSNE5h8n2daosknMMuuGNLI8U
VITE_FIREBASE_AUTH_DOMAIN=client-flow-cae99.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=client-flow-cae99
VITE_FIREBASE_STORAGE_BUCKET=client-flow-cae99.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=648496987808
VITE_FIREBASE_APP_ID=1:648496987808:web:a9daff5083799c2a2bd3c5
VITE_FIREBASE_MEASUREMENT_ID=G-5ZZDYC6Y9W

